.card {
  box-shadow: 0 4px 8px 0 rgba(239, 4, 4, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: solid;
}

.title {
  color: rgb(164, 12, 177);
  font-size: 18px;
  text-shadow: 20em;
   
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}




